#order {
    box-sizing: border-box;
    min-width: 450px;
    max-width: 450px;
    padding: 0 10px;
}
#order-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: #121315;
}
#order-box>*:first-child {
    margin-bottom: 5px;
}
.order-booking {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.order-booking-item {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    margin: 4px 4px 0 0;
    width: 200px;
}
.order-booking-item-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px 0 0;
    background-color: #414650;
    border-radius: 12px;
    padding: 0 8px;
    width: 80px;
}
.order-booking-item-numbers {
    font-weight: bold;
    margin-right: 5px;
}
.order-booking-item-labels {
    color: #8B919B;
    margin-right: 5px;
}