#page-admin {
    padding: 0 5px 5px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.admin-panel {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.admin-orders-cinema {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.admin-orders-schedule {
    width: 100%;
    height: inherit;
    overflow-x: auto;
    overflow-y: auto;
}

.admin-orders-list {
    padding: 0 0 0 10px;
    width: calc(40px + 100px + 80px + 80px + 60px + 60px + 60px + 60px + 60px + 100px + 100px);
}

.admin-orders-list-content {
    width: calc(40px + 100px + 80px + 80px + 60px + 60px + 60px + 60px + 60px + 100px + 100px);
    display: flex;
    flex-direction: column;
}

.admin-orders-list-content-order-header {
    font-weight: bold;
    position: sticky;
    top: 35px;
    z-index: 3;
    background-color: #f8f8f8;
    color: #8b919b;
}

.admin-orders-list-content-order, .admin-orders-list-content-order-header {
    display: grid;
    grid-template-columns: 40px 100px 80px 80px 60px 60px 60px 60px 60px 100px 100px;
    gap: 8px;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}

.admin-orders-list-content-order:hover {
    background-color: #dfdfdf;
}

.admin-orders-list-content-order>div, .admin-orders-list-content-order-header>div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-orders-cinema-filial {
    z-index: 1;
}

.admin-orders-cinema-filial-name {
    box-sizing: border-box;
    padding: 8px 0 8px 10px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background: #f8f8f8;
    z-index: 6;
    text-align: center;
}

.admin-orders-cinema-filial-content {
    display: flex;
    flex-direction: row;
}

.admin-orders-cinema-seances {
    width: 350px;
}

.admin-orders-cinema-seance {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    border-radius: 6px;
}
.admin-orders-cinema-seance:hover {
    background-color: #dfdfdf;
}

.admin-orders-cinema-schedule {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


.admin-orders-schedule::-webkit-scrollbar, .admin-orders-list::-webkit-scrollbar {
    min-width: 50px;
    height: 50px;
    background-color: transparent;
}

.admin-orders-schedule::-webkit-scrollbar-thumb, .admin-orders-list::-webkit-scrollbar-thumb {
    background: #8B919B ;
    border-radius: 12px;
    padding-right: 5px;
}

.admin-orders-schedule::-webkit-scrollbar-track, .admin-orders-list::-webkit-scrollbar-track {
    background: transparent;
}

.admin-orders-schedule::-webkit-scrollbar-corner, .admin-orders-list::-webkit-scrollbar-corner {
    background: transparent;
}
