:root {
    --center-header-height: 40px;
    --side-panel-width: 60px;
    --cetner-bgr-scroll: #2e3239;
    --center-submenu-height: 80px;
}

#center-header {
    width: 100vw;
    height: var(--center-header-height);
    background-color: #fbed9e;
    border-bottom: 1px solid #c9be7f;
    position: absolute;
    top: 0;
    z-index: 999;
}

#center-side-panel {
    width: var(--side-panel-width);
    height: 100vh;
    background-color: #fbed9e;
    border-left: 1px solid #c9be7f;
    position: absolute;
    right: 0;
    z-index: 999;
}

#center-page {
    width: calc(100vw - var(--side-panel-width));
    height: calc(100vh - var(--center-header-height));
    position: absolute;
    top: var(--center-header-height);
    left: 0;
}

#center-submenu {
    width: calc(100vw - var(--center-header-height));
    height: calc(var(--center-header-height) - 1px);

}

.center-title-filial {
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: #f2f2f2;
}

.center-title-chapter {
    height: 40px;
    position: sticky;
    top: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
    background-color: #f2f2f2;
}

/* ============================== */
/*              СКРОЛЛ            */
/* ============================== */
.center-scroll::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
    background-color: transparent !important;
}

.center-scroll::-webkit-scrollbar-thumb, .MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--cetner-bgr-scroll) !important;
    border-radius: 0 !important;
}

.center-scroll::-webkit-scrollbar-track,
.center-scroll::-webkit-scrollbar-corner {
    background: transparent !important;
}

.center-horeca-order-ref {
    background-color: #dfdfdf;
}

.center-horeca-page {
    margin: 0 10px;
    max-height: calc(100vh - var(--center-header-height) - var(--center-submenu-height) - 10px);
    min-height: calc(100vh - var(--center-header-height) - var(--center-submenu-height) - 10px);
}

.center-horeca-page-part {
    min-width: calc(25% - 5px);
    max-width: calc(25% - 5px);
    margin-right: 5px;
    background-color: white;
    max-height: inherit;
    min-height: inherit;
}

.center-store-state-level-1,
.center-store-state-level-2 {
    font-weight: bold;
}

.center-store-quantity-need-error {
    color: #d63a41 !important;
}