#horeca-menu {
    padding: 5px;
}
.menu-breadcrumbs, .menu-folders, .menu-items {
    display: flex;
    flex-wrap: wrap;
}
.menu-breadcrumbs>div, .menu-folders>div, .menu-items>div {
    margin: 0 5px 5px 0;
    font-weight: bold;
}
.menu-breadcrumb, .menu-folder, .menu-item {
    display: flex;
    width: 140px;
    height: 80px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
    cursor: pointer;
}
.menu-breadcrumb>div, .menu-folder>div, .menu-item>div {
    padding: 5px;
    max-width: calc(140px - 10px);
    overflow: hidden;
    font-size: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.menu-breadcrumb {
    color: black;
    background-color: #1EC7D3;
}
.menu-folder {
    color: black;
    background-color: #50DB92;
}
.menu-item {
    color: black;
    background-color: #EFEFEF;
}