/* ============================== */
/*           THEME COLORS         */
/* ============================== */

:root {
  --width-order: calc(520px - 4px);
  --order-width: 520px;
}

:root[data-theme="unauthorized"] {
  --bg-color: #121212;
  --text-color: white;
  --bg-gradient-block: #0e0f11;
  --bg-menu-item: #efefef;
  --bg-order-item: #efefef;
}

:root[data-theme="authorized"] {
  --bg-color: #f8f8f8;
  --text-color: black;
  --bg-gradient-block: #f8f8f8;
  --bg-menu-item: #d7d7d7;
  --bg-order-item: #dfdede;
}




/* ============================== */
/*         CALENDAR MUI           */
/* ============================== */

.MuiDayCalendar-weekDayLabel {
  background-color: #e3000b;
  border-radius: 12px;
  color: white !important;
  font-weight: 900 !important;
}

.MuiPickersArrowSwitcher-root {
  margin-right: 10px;
}

/* ============================== */
/*      SCREEN KEYBOARD MUI       */
/* ============================== */

.mirageTheme,
.mirageNumTheme {
  background-color: #0e0f11 !important;
  border-radius: 10px !important;
}

.mirageTheme {
  width: 800px !important;
}

.mirageNumTheme {
  width: 300px !important;
}

.mirageLangButton {
  max-width: 50px;
}

.hg-button, .hg-button:hover {
  color: white !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  transition: background 0.3s !important;
  border-bottom: none !important;
}

.hg-button {
  background-color: #383c45 !important;
}

.hg-button:hover {
  background-color: #2f3238 !important;
}

.mirageEnter {
  background-color: #e3000b !important;
}

.mirageEnter:hover {
  background-color: #c7010a !important;
}


/* ============================== */
/*          SHAPES, DECOR         */
/* ============================== */

.circle {
  width: 24px;
  height: 12px;
  background: var(--bg-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}